.container {
    display: flex;
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .column {
    flex: 1;
  }
  
  .postItem {
    padding: 10px;
    border-bottom: 1px solid rgb(253, 233, 233);
  }