.card {
    padding: 15px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
}
.card:hover {
    background-color: rgb(227, 242, 253); 
    border-color: rgb(243, 33, 103);
  } 